/*<=================== BODY ===================>*/
section {
    margin-left: 4em;
    margin-right: 4em;
  }

/*=============== Heading start ===============*/
.Heading{
  padding: 1.2em;
  margin: 1.5em 0;
  text-align: center;

}

.Heading .card-title {
  font-family: var(--clean-text);
  font-size: 1.9em;
  font-weight: 600;
  text-align: center;
  margin: 0.4em 0.6em;
  line-height: 1.3em;
  text-transform: uppercase;
}

.Heading .card-para{
  font-family: var(--para-text);
  font-size: 1.4em;
  overflow-wrap: break-word;
  font-weight: 300;
  text-align: center;
  margin: 0.3em 0.6em;
}

/*========= The Posts Section =========*/

.featured,.best,.more {
  max-width: 100%;
  margin: 5em 1em;
}
.featured .title,.best .title,.more .title {
  font-size: 1.3em;
  font-family: var(--bold-text);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 1em;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 1.8em;
}
.f-container,.b-container,.m-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.f-container .container, .b-container .container, .m-container .container{
  display: flex;
  align-items: center;
  margin: 1.3em 1em;
  cursor: pointer;
}
.f-img, .b-img, .m-img{
  max-width: 9em;
  height: 6em;
  margin: 0 0.8em;
}
.f-img img, .b-img img, .m-img img{
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.f-container .container .content .article-title ,.b-container .container .content .article-title, .m-container .container .content .article-title{
  margin: 0.6em 0;
  font-size: 1.12em;
  font-family: var(--bold-text);
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}
.f-container .container .content .article-para, .b-container .container .content .article-para, .m-container .container .content .article-para{
  margin: 0.6em 0;
  font-size: 1.08em;
  font-family: var(--para-text);
  text-align: left;
  font-weight: 400;
  color: #777777;
}
.f-container .container:hover, .b-container .container:hover, .m-container .container:hover {
  color: var(--health-hover-color);
  opacity: 0.9;
}
