{% extends 'base.html' %}

{% load static %}

{% block title %} VitalityOne: Privacy Policy {% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'CSS/TC_P.css' %}?now=U"> {% endblock %}

{% block content %}

<!--========== The Policy is here ==========-->

<div class="heading">
<h1 class="card-title">Privacy Policy</h1>
</div>

<p class="main-para">Protecting your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your personal information when you use the Website. By using the Website, you consent to the practices described in this Privacy Policy.</p>

<p class="para"><span class="num">1.</span><span class="sub-head"> Information We Collect:</span> We may collect personal information, such as your name, email address, demographic information, and any other information you provide voluntarily when using the Website. We also collect non-personal information, such as your IP address, browser type, and device information, to analyze trends, administer the Website, and gather broad demographic information for aggregate use.</p>

<p class="para"><span class="num">2.</span><span class="sub-head"> Use of Information:</span> We use the information we collect to provide and improve the services and features offered on the Website, to personalize your experience, to send you relevant information and updates, and to respond to your inquiries or requests. We may also use the information to analyze user trends, conduct research, and enhance the security and integrity of the Website.</p>

<p class="para"><span class="num">3.</span><span class="sub-head"> Cookies and Similar Technologies:</span> We may use cookies, web beacons, and other similar technologies to collect and store certain information about your interactions with the Website. Cookies are small text files that are stored on your device to facilitate and enhance your browsing experience. You can manage your cookie preferences through your browser settings, but please note that disabling cookies may limit certain features and functionality of the Website.</p>

<p class="para"><span class="num">4.</span><span class="sub-head"> Data Security:</span> We take reasonable measures to protect the security of your personal information and to prevent unauthorized access, disclosure, or alteration. However, please be aware that no method of transmission over the Internet or electronic storage is completely secure. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>

<p class="para"><span class="num">5.</span><span class="sub-head"> Disclosure of Information:</span> We may disclose your personal information to third parties who perform services on our behalf or to comply with legal obligations. These third parties are obligated to use your information only as necessary to provide the requested services or as required by law. We do not sell, trade, or otherwise transfer your personal information to outside parties without your consent, except as described in this Privacy Policy.</p>

<p class="para"><span class="num">6.</span><span class="sub-head"> Children's Privacy:</span> The Website is not intended for individuals under the age of 13. We do not knowingly collect personal information from children under 13. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us, and we will take appropriate steps to remove that information from our systems.</p>

<p class="para"><span class="num">7.</span><span class="sub-head"> Changes to this Privacy Policy:</span> We reserve the right to modify this Privacy Policy at any time. Any changes will be effective immediately upon posting the revised Privacy Policy on the Website. We encourage you to review this Privacy Policy periodically for any updates or changes.</p>

{% endblock %}